.dashboard-holder {
	display: flex;
	align-items: center;
	text-align: center;
}

.dashboard-holder .name-label {
	width: calc(100vw - 250px);	
	position: relative;
	text-align: end;
	height: 75px;
	background: #3a154d;
	text-align: center;
}

.name-label h2 {
	padding: 0px 0px;
	font-size: 18px;
	color: white;
	font-weight: 200;
}

.right-side-holder {
	display: flex;
	flex-direction: column;
	overflow-y: hidden;
}

.dashboard-holder .top-half-holder {
	height: calc((100vh - 153px) / 2);
	width: 100%;

	display: flex;
	flex-direction: row;

	justify-content: space-between;

	padding-top: 50px;
}

.dashboard-holder .bottom-half-holder {
	height: calc((100vh - 153px) / 2);
	display: flex;
	flex-direction: row;
}
