.homeNavbar {
	width: 100vw;
	height: 100px;
	background-color: #c090ea;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.homeNavbar .logo-holder {
	height: 100%;
	display: flex;
	align-items: center;
}

.homeNavbar .logo-holder h3 {
	font-size: 30px;
	display: inline;
	font-weight: normal;
	color: #502266;
}

.homeNavbar img {
	font-family: Helvetica;
    background: rgb(51, 33, 88);
    color: black;
    align-self: center;
    height: 40px;
    border-radius: 100px;
    font-size: 2em;
    display: flex;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 10px;
    margin-bottom: 15px;
    box-shadow: 0px 5px 20px 5px  #82559c;
    overflow-y: hidden;
	width: 35px;
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 10px;
}

.login-buttons {
	width: 20%;
	height: 100%;
	margin-right: 30px;
}

.login-buttons button {
	margin-top: 25px;
	width: 100px;
	height: 50px;
	border: none;
	color: black;
	margin-left: 30px;
	background: transparent;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-size: 15px;
	border-radius: 20px;
	transition: all 0.2s ease;
}

.login-buttons button:hover {
	cursor: pointer;
	background: rgb(172, 119, 225);
}
